<!-- Changes:
1. 220406 uncommented the github star, fork 
/assets/images/{{site.hero_cover_img}}

background-color: var(--main-background-color) !important;

-->
{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-image: url('{{page.header.hero_cover_img}}');
  }
</style>


<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="/assets/images/{{site.author.author_logo}}" />
  <p class="jumbotron-heading">Hi, I am {{site.author.name}} !</p>
  <script>
    $(document).ready(function () {
      $("#typewriteText").typewrite({
        actions: [{ type: page.title }]
      });
    });
  </script>
  <p class="lead" id="typewriteText">{{page.title}}</p>

  <div class="jumbotron-btns">
    <!-- <a href="{{site.url}}{{site.baseurl}}/get-started">
      <button class="btn btn-md btn-warning"> <strong>Get Started</strong> </button>
    </a>
    <a id="olvy-target">
      <button class="btn btn-md btn-default"> <strong>What's New</strong> </button>
    </a>
    <a href="https://www.linkedin.com/in/{{ author.linkedin }}">
      <button class="btn btn-md btn-default"><i class="fab fa-fw fa-linkedin"></i>LinkedIn</button>
    </a> -->
    {% include author-profile_v2.html %}
  </div>
</div>